
body {
    margin: 0;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/**/

.main {
    width: 100%;
    max-width: 700px;
    padding: 8px;
    box-sizing: border-box;
    margin: 0 auto;
}

/**/

.menu {
margin: 100px;
align-items: center;
align-content: center;
text-align: center;
border: solid;
}
.menu ul{
    margin: 0;
    background-color: rgb(87, 87, 245);
    list-style: none;
}

.menu ul li{
    display: inline;
    text-align: center;
}

.menu ul li a{
    padding: 10px 15px;
    display: inline-block;
    color: white;
}

.menu ul li a:hover {
    color: black;
    text-decoration: none;
}

/**/

.perfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.perfil_foto {
    width: 100%;
    max-width: 300px;
    border-radius: 100%;
}
.perfil_nome {
    font-family: Arial, Helvetica, sans-serif;
    font: 100;
    font-size: 35px;
    color: rgba(76, 0, 255, 0.993);
}

/**/

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.biografia {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.biografia_titulo {    
    font-family: Arial, Helvetica, sans-serif;
    font: 100;
    font-size:30px;
    color: rgba(255, 230, 0, 0.993);
}        
.biografia_descricao {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**/

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.footer_texto {
    display: flex;
    color: grey;
    flex-direction: column;
    align-items: center; 
    margin: 100px;
    align-items: center;
    align-content: center;
    text-align: center;
    border: solid;   
}